<main>
  <div>
      <input #nombre type="text" placeholder="Nombre">
      <input #apellidos type="text" placeholder="Apellidos">
      <input #edad type="text" placeholder="Edad">
       <button type="button" (click)="agregar(nombre.value, apellidos.value, edad.value)">
        Agregar
      </button>
  </div>
  <table>
    <thead>
    <tr>
      <td>
          ID
      </td>
      <td>
          Nombre
      </td>
      <td>
          Apellidos
      </td>
      <td>
          Edad
      </td>
    </tr>
    </thead>
    <tbody id="tabla">
      @for (dato of result; track $index; let i = $index) {
        <tr>
          <td>{{ dato.dato }}</td>
          <td>{{ dato.nombre }}</td>
          <td>{{ dato.apellidos }}</td>
          <td>{{ dato.edad }}</td>
          <td>
            <button (click)="eliminar($index)">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
    
  </table>
</main>

<router-outlet />
